{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <meta name="description"
        content="An unofficial clone of bus.gal that serves you info about the buses from the Galician Public Transport Network">
    <meta name="author" content="peprolinbot">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'buses/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'buses/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'buses/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'buses/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'buses/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">



    <title>{% block title %}GaliBus{% endblock %}</title>

    <!-- CSS stuff
    ================================================== -->

    <!-- Bootstrap -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_messages %}

    <!-- bootstrap-select -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css"
        integrity="sha256-cwDJdubMsvIJcAYY5EXUZAuQLxSlELxFYQlxvsxdYs8=" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'buses/css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

</head>

<body>
    {% block navbar %}
    {% include 'buses/_items/navbar.html' %}
    {% endblock %}

    <div id="content-wrapper" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer text-center">
        <hr class="mx-5">
        <p>Made with ❤️ by <b>peprolinbot</b> - <a href="https://codeberg.org/peprolinbot/bus.gal-web" target="_blank">Source code</a></p>
    </footer>

    <!-- JavaScript stuff
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <script src="{% static 'buses/js/libs/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    {% bootstrap_javascript %}

    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha256-BRqBN7dYgABqtY9Hd4ynE+1slnEw+roEPFzQ7TRRfcg=" crossorigin="anonymous"></script>

    <!-- bootstrap-select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"
        integrity="sha256-obLPuLg5xxN2MC2szEaXLaN8tEKYgeCMn+TSPMxqOfE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-es_ES.min.js"
        integrity="sha256-Jo3shEsqZ5PnfH4mMSaqrrbYzpNNSNQsCkjYAWkbW8o=" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    {% block js %}{% endblock %}

    <script>
        const popoverTriggerList = $('[data-bs-toggle="popover"]').toArray()
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>

</body>

</html>