{% extends 'buses/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link href="{% static 'buses/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container justify-content-center my-5">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Search" extra_classes="w-100 mt-3" %}
    </form>
</div>

<script>
    $(document).ready(function () {
        $(".select2").select2({
            theme: "bootstrap-5",
            width: '100%',
            ajax: {
                url: "{% url 'buses:autocomplete' %}",
                dataType: "json"
            }
        });
    });
</script>
{% endblock %}