{% extends 'main/base.html' %}
{% block content %}
{% if expeditions %}
<div class="row mb-3 mt-2">
    <h1 class="text-center">Buses from <b>{{ stop.name }}</b> 🗓️ {{ date|date:'d/m/Y 🕙 H:i' }}</h1>
</div>
<div class="row mb-3">
    <h5 class="text-center">
        <span class="badge bg-secondary">Not in realtime</span>
        <span class="badge bg-primary">At stop</span>
        <span class="badge bg-danger">Behind schedule</span>
        <span class="badge bg-warning text-dark">Ahead of schedule</span>
        <span class="badge bg-light text-dark">On schedule</span>
    </h5>
</div>
<div class="row mb-3">
    <table class="table table-light table-hover">
        <tr>
            <th scope="col">Line</th>
            <th scope="col">Plate</th>
            <th scope="col">Arrival</th>
            <th scope="col">Distance</th>
            <th scope="col">Delay</th>
        </tr>
        {% for expedition in expeditions %}
        <tr class="{% if not expedition.real_time_data %} table-secondary
        {% elif expedition.real_time_data.MonitoredCall.DistanceFromStop == '0 m' %} table-primary 
        {% elif expedition.real_time_data.Delay|slice:':1' == '-' %} table-warning 
        {% elif expedition.real_time_data.Delay|slice:':3' != 'PT0' %} table-danger {% endif %}">
            <td><a href="{{ expedition.bus_dot_gal_url }}">{{ expedition.line.name }}</a></td>
            <td>{{ expedition.real_time_data.VehicleRef|default:"N/A" }}</td>
            <td>{% if expedition.real_time_data %}
                {% if expedition.real_time_data.MonitoredCall.DistanceFromStop == "0 m" %}
                <b>At stop</b>
                {% else %}
                {{ expedition.real_time_data.MonitoredCall.ExpectedArrivalTime|slice:'-14:-6' }}
                {% endif %}
                {% else %}
                {{ expedition.passing_time|date:'H:i:s' }}
                {% endif %}
            </td>
            <td>{{ expedition.real_time_data.MonitoredCall.DistanceFromStop|default:"N/A" }}</td>
            <td>{{ expedition.real_time_data.Delay|default:"N/A" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    $(document).ready(function () {
        const refreshInterval = 30000; // 5 seconds

        // Function to reload the page
        function autoReload() {
            setTimeout(function () {
                location.reload(); // Reload the current page
            }, refreshInterval);
        }

        // Call the autoReload function when the page loads
        autoReload();
    });
</script>
{% else %}
<div class="row mb-3 mt-2">
    <h1 class="text-center"><b>No expeditions are available</b> 😭</h1>
</div>
{% endif %}
{% endblock %}